{% extends 'login.html'%}
{% load staticfiles %}
{% block content %}
<div class="container">
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center">Definición</div>
        <div class="panel-body">
          Con este sistema se pretender agilizar el proceso de registro, asignación y revisión de los documentos que vienen de la Direccion General Tecnica, el cual debe ser revisado por los coordinadores correspondientes y verificar que cumplan con los lineamientos necesarios.
        </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="panel panel-primary">
      <div class="panel-heading" align="center">Objetivos</div>
        <div class="panel-body">
          <ul>
            <li>Sistematizar el proceso de registro y revisión.</li>
            <li>Mostrar un porcentaje de avance de la revisión de los oficios.</li>
            <li>Saber la ubicación del documento.</li>
          </ul>
        </div>
    </div>
  </div>
</div>
{% endblock %}
