{% extends 'base.html'%}
{% load staticfiles %}
{% block header %} <img width="1170" src="{% static 'C:\proyectos\scttab\static\img\oficial1.png' %}"  /> {% endblock %}
{% block content %}
<h1 align="center"> Revisiones de Oficios </h1>
<hr width="90%">
<div class="container">
	<div class="jumbotron">
		<div class="container">
    		<h1>Revisión 1</h1>
  			<p>Tipo Juridico</p>
  			<p><a class="btn btn-primary btn-lg" href="revision_oficios.html" role="button">Acceder</a></p>
  		</div>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
		<div class="container">
  			<h1>Revisión 2</h1>
  			<p>Tipo Vo.Bo.</p>
  			<p><a class="btn btn-primary btn-lg" href="#" role="button">Acceder</a></p>
  		</div>
	</div>
</div>
<div class="container">
	<div class="jumbotron">
		<div class="container">
  			<h1>Revisión 3</h1>
  			<p>Tipo </p>
  			<p><a class="btn btn-primary btn-lg" href="#" role="button">Acceder</a></p>
  		</div>
  	</div>
</div>
{% endblock%}