{% extends 'base.html'%}
{% load staticfiles %}

<div class="container">
  <tabla id="tablaconsulta" border="1">
    <thead>
	  <tr>
	    <th>Numero de Oficio</th>
	    <th>Nombre del Solicitante</th>
	    <th>Empresa</th>
	    <th>Fecha Recibido</th>
	    <th>Asunto</th>
	    <th>Fecha de entrega</th>
	  </tr>
    </thead>
<div class="progress">
	<div class="progress-bar progress-bar-success" style="width: 30%"> Secretaria
    	<span class="sr-only">30% Complete (success)</span>
  	</div>
    <div class="progress-bar progress-bar-danger" style="width: 25%"> Coordinador
        <span class="sr-only">25% Complete (success)</span>
    </div>
  	<div class="progress-bar progress-bar-warning" style="width: 15%">Revisor 1
   		<span class="sr-only">15% Complete (warning)</span>
  	</div>
  	<div class="progress-bar progress-bar-info" style="width: 15%">Revisor 2
   		<span class="sr-only">15% Complete (danger)</span>
 	</div>
 	<div class="progress-bar progress-bar-danger" style="width: 15%">Revisor 3
   		<span class="sr-only">15% Complete (danger)</span>
 	</div>
</div>